body {
  background-color: #f6f6f6;
  font-family: tahoma;
  font-size: 16px;
}

/* Start Header */
.heading {
  position: relative;
}
.heading h2 {
  font-weight: bold;
  color: white;
  background-color: #e2494c;
  text-align: center;
  padding: 10px 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  margin: auto;
  font-size: 20px;
  text-transform: uppercase;
}
.heading h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #9c9c9c;
  left: 0;
  top: 50%;
  z-index: -1;
}

/* End Header */
a.link {
  text-decoration: none;
  color: #e2494c;
  display: flex;
  align-items: center;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a.link:hover {
  color: #e2494c;
}
a.link i {
  color: #e2494c;
  font-size: 10px;
}

header {
  padding: 35px;
  border-bottom: 1px solid #9c9c9c;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  text-align: center;
}
header .logo h1 {
  margin: 0;
}
header .logo p {
  margin: 0;
}
header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #e2494c;
  border-radius: 20px;
  padding: 25px 45px;
}
header .nav li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
header .nav li a:hover {
  color: #ddd;
}

/* Start Slider */
.slider blockquote {
  width: 80%;
  margin: auto;
  line-height: 1.7;
  font-style: italic;
  font-weight: bold;
  font-family: tahoma, arial;
}
.slider .image {
  width: 100%;
  height: 350px;
  background-color: #9c9c9c;
  margin: 25px auto;
  font-size: 25px;
  line-height: 350px;
  font-weight: bold;
}
.slider .bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.slider .bullets li {
  width: 20px;
  height: 20px;
  background-color: #9c9c9c;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.slider .bullets li:hover, .slider .bullets li.active {
  background-color: white;
  border: 2px solid black;
}

/* End Slider */
/* Start Services */
.our-services h3 {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.our-services h3 i {
  font-size: 35px;
  margin-right: 10px;
}
.our-services p {
  color: #9c9c9c;
  margin: 15px auto;
}

/* End Services */
/* Start Players */
.our-players .image {
  width: 100%;
  height: 250px;
  line-height: 250px;
  font-weight: bold;
  font-size: 50px;
  background-color: #9c9c9c;
  text-align: center;
  margin-bottom: 15px;
}
.our-players h3 {
  color: #9c9c9c;
  font-size: 20px;
  font-weight: bold;
}
.our-players h3 span {
  font-weight: normal;
}
.our-players p {
  margin: 15px auto;
  color: #9c9c9c;
}
@media (min-width: 992px) {
  .our-players .col-lg-3 {
    width: 20%;
  }
}

/* End Players */
/* Start Work */
.latest-work .image {
  width: 100%;
  height: 250px;
  text-align: center;
  line-height: 250px;
  font-size: 25px;
  font-weight: bold;
  background-color: #9c9c9c;
}

/* End Work */
/* Start Footer */
.footer {
  background-color: #e2e2e2;
}
.footer h2 {
  margin-bottom: 50px;
  font-size: 25px;
}
.footer .box {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 20px;
}
.footer .box .image {
  width: 100%;
  height: 150px;
  padding: 5px;
  border: 1px solid #9c9c9c;
}
.footer .box .image span {
  background-color: #9c9c9c;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  line-height: 145px;
  font-weight: bold;
  font-size: 20px;
}
.footer .box h4 {
  color: #e2494c;
  font-size: 20px;
}
.footer .box p {
  color: #9c9c9c;
}
.footer .comp-adress {
  color: #9c9c9c;
  line-height: 1.8;
}
.footer .comp-info {
  color: #9c9c9c;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer .comp-info a {
  text-decoration: none;
  color: #e2494c;
}
.footer .work-days {
  color: #9c9c9c;
}
.footer .work-days h5 {
  font-weight: bold;
}
.footer .work-days span {
  margin: 5px auto;
  display: block;
}
.footer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer form input,
.footer form textarea {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}
.footer form textarea {
  height: 150px;
  resize: none;
}
.footer form input::-moz-placeholder, .footer form textarea::-moz-placeholder {
  color: #9c9c9c;
}
.footer form input:-ms-input-placeholder, .footer form textarea:-ms-input-placeholder {
  color: #9c9c9c;
}
.footer form input::placeholder,
.footer form textarea::placeholder {
  color: #9c9c9c;
}
.footer form input[type=submit] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e2494c;
  color: white;
  text-transform: uppercase;
  padding: 5px 15px;
}
.footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9c9c9c;
  font-size: 15px;
  position: relative;
  gap: 10px;
}
.footer .copyright::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgb(180, 180, 180), white);
  border-radius: 50px;
  width: 100%;
  height: 3px;
}

/* End Footer *//*# sourceMappingURL=homepage.css.map */