header {
    padding: 35px;
    border-bottom: 1px solid $greyColor;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        text-align: center;
        h1 {
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background-color: $redColor;
        border-radius: 20px;
        padding: 25px 45px;
        li {
            a {
                text-decoration: none;
                color: white;
                transition: 0.3s;
                &:hover {
                    color: #ddd;
                }
            }
        }
    }
}